* @danipopes @gakonst @prestwich

crates/dyn-abi/      @prestwich
crates/json-abi/     @prestwich
crates/primitives/   @danipopes @prestwich
crates/sol-macro/    @danipopes
crates/sol-types/    @danipopes @prestwich
crates/syn-solidity/ @danipopes
