[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
edition = "2021"
rust-version = "1.65"
authors = []
license = "MIT OR Apache-2.0"
homepage = "https://github.com/ethers-rs/core"
repository = "https://github.com/ethers-rs/core"

[workspace.dependencies]
# workspace crates
ethers-abi-enc = { version = "0.1.0", path = "crates/abi", default-features = false }
ethers-dyn-abi = { version = "0.1.0", path = "crates/dyn-abi", default-features = false }
ethers-primitives = { version = "0.1.0", path = "crates/primitives", default-features = false }
ethers-rlp = { version = "0.1.0", path = "crates/rlp", default-features = false }
ethers-rlp-derive = { version = "0.1.0", path = "crates/rlp-derive", default-features = false }
ethers-sol-type = { version = "0.1.0", path = "crates/sol-type", default-features = false }

ruint = { version = "1.8.0", git = "https://github.com/recmo/uint", default-features = false }
ruint-macro = { version = "1.0.2", git = "https://github.com/recmo/uint", default-features = false }

# serde
serde = { version = "1.0", default-features = false }
serde_json = { version = "1.0", default-features = false }

# macros
proc-macro2 = "1.0"
quote = "1.0"
syn = "2.0"

# misc
arbitrary = { version = "1.3", default-features = false }
arrayvec = { version = "0.7.2", default-features = false }
bytes = { version = "1.4", default-features = false }
hex = { package = "const-hex", version = "1.2", default-features = false, features = ["hex"] }
hex-literal = "0.4"
proptest = { version = "1.1", default-features = false }
proptest-derive = "0.3"
thiserror = "1.0"
tiny-keccak = "2.0"
