[package]
name = "alloy-primitives"
description = "Ethereum primitive types"
keywords = ["ethereum", "ethers", "revm", "reth"]
categories = ["no-std", "data-structures", "cryptography::cryptocurrencies"]
homepage = "https://github.com/alloy-rs/core/tree/main/crates/primitives"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
exclude.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
# eth
ruint = { workspace = true, features = ["serde"] }

# utility
bytes.workspace = true
hex.workspace = true
itoa = "1"
tiny-keccak = { workspace = true, features = ["keccak"] }

# macros
derive_more.workspace = true

# rlp
alloy-rlp = { workspace = true, optional = true }

# serde
serde = { workspace = true, optional = true }

# getrandom
getrandom = { workspace = true, optional = true }

# arbitrary
arbitrary = { workspace = true, features = ["derive"], optional = true }
proptest = { workspace = true, optional = true }
proptest-derive = { workspace = true, optional = true }

[dev-dependencies]
hex-literal.workspace = true
serde_json.workspace = true

[features]
default = ["std", "rlp", "serde"]
std = ["bytes/std", "hex/std", "alloy-rlp?/std", "proptest?/std", "serde/std"]
getrandom = ["dep:getrandom"]
rlp = ["dep:alloy-rlp", "ruint/fastrlp"]
serde = ["dep:serde", "bytes/serde", "hex/serde", "ruint/serde"]
arbitrary = [
    "std",
    "ruint/arbitrary",
    "ruint/proptest",
    "dep:arbitrary",
    "dep:proptest",
    "dep:proptest-derive",
]
