[package]
name = "ethers-primitives"
version = "0.1.0"
description = "Fundamental ethereum types shared by revm, reth and ethers"
readme = "README.md"
keywords = ["ethereum", "ethers", "revm", "reth"]
categories = ["data-structures", "cryptography::cryptocurrencies"]

edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
# eth
ruint = { workspace = true, features = ["serde"] }

# utility
bytes.workspace = true
getrandom = "0.2"
hex.workspace = true
itoa = "1"
tiny-keccak = { workspace = true, features = ["keccak"] }

# macros
derive_more.workspace = true

# rlp
ethers-rlp = { workspace = true, optional = true }

# serde
serde = { workspace = true, optional = true }

# arbitrary
arbitrary = { workspace = true, features = ["derive"], optional = true }
proptest = { workspace = true, optional = true }
proptest-derive = { workspace = true, optional = true }

[dev-dependencies]
hex-literal.workspace = true
serde_json.workspace = true

[features]
default = ["std", "rlp", "serde"]
std = ["bytes/std", "hex/std", "ethers-rlp?/std", "proptest?/std", "serde/std"]
rlp = ["dep:ethers-rlp", "ruint/fastrlp"]
serde = ["dep:serde", "bytes/serde", "hex/serde", "ruint/serde"]
arbitrary = [
    "std",
    "ruint/arbitrary",
    "ruint/proptest",
    "dep:arbitrary",
    "dep:proptest",
    "dep:proptest-derive",
]
