[package]
name = "ethers-sol-types"
version = "0.1.0"
description = "Ethereum ABI encoding and decoding, with static typing"
readme = "README.md"
keywords = ["ethereum", "abi", "encoding", "evm", "solidity"]
categories = ["encoding", "cryptography::cryptocurrencies"]

edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
ethers-primitives.workspace = true
ethers-sol-macro.workspace = true

hex = { workspace = true, features = ["alloc"] }

serde = { workspace = true, optional = true, features = ["derive"] }

[dev-dependencies]
hex-literal.workspace = true
trybuild = "1.0"

[features]
default = ["std", "hex/alloc"]
std = ["ethers-primitives/std", "hex/std", "serde?/std"]
eip712-serde = ["dep:serde", "serde?/alloc", "ethers-primitives/serde"]
